@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Styles principaux */
html,
body {
  background: linear-gradient(
    rgb(79, 175, 231) 0%,
    rgb(40, 84, 199) 17%,
    rgb(14, 57, 151) 30%,
    rgb(10, 35, 88) 50%,
    rgb(6, 22, 54) 65%,
    rgb(0, 0, 0) 88%,
    rgb(0, 0, 0) 100%
  );
  font-family: Outfit;
  color: white;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
  padding: 1.25rem 0 0 2rem;
}

h2 {
  font-size: 1.5rem;
  padding: 2rem 0 2rem 1rem;

}
h3 {
  font-size: 1.25rem;
  padding: 1rem;
}

a {
  font-size: 1.15rem;
  padding: 0.75rem;
}

a:hover {
  color: rgb(186, 241, 255);
}

/* Entête */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  padding-right: 1rem;
}

nav ul li {
  display: flex;
  padding: 1rem;
}

nav ul li a {
  margin: 0.2rem 1rem 0.2rem 1rem;
  text-decoration: none;
  color: white;
  text-decoration: none;
}
/* Contenu principal */
form {
  background-color: #3566a75d;
  border: 6px solid rgb(13, 39, 124);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto 0 auto;
  padding: 0 2rem 2rem 2rem;
  accent-color: rgb(0, 68, 255);
  padding: 4rem;
}
form .input-group {
  padding: 1rem;
}
